{% extends 'base.html.twig' %}

{% block title %}Guestbook - {% trans %}Create post{% endtrans %} {% endblock %}

{% block stylesheets %}
	{{ parent()}}

	<link href="{{ asset('bundles/app/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block nav %}
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
		<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/{{limba}}">{% trans %} View posts {% endtrans %}</a></li>
			<li class="active"><a href="{{ path('create') }}">{% trans %}Create post{% endtrans %}</a></li>
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="navbar-form navbar-right">
					<a class="btn btn-warning" href="/logout">{% trans %}Logout{% endtrans %} {{ app.user.username }}</a>
				</div>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="{% trans %}Search{% endtrans %}...">
					<button type="submit" class="btn btn-default">{% trans %}Search{% endtrans %}</button>
				</form>
			{% else %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Log in{% endtrans %} <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li class="dropdown-header">{% trans %}Have an account{% endtrans %}?</li>
					<li>
					<form class="navbar-form" action="{{ path('login') }}" method="post">
						<div class="form-group">
							<input type="text" placeholder="{% trans %}E-mailE-mail address{% endtrans %}" class="form-control" name="_username" >
						</div>
						<div class="form-group">
							<input type="password" placeholder="{% trans %}Password{% endtrans %}" class="form-control" name="_password">
						</div>
						&nbsp;
						<div class="form-group">
							<input type="checkbox" id="remember_me" name="_remember_me" checked />
							<label for="remember_me">{% trans %}Keep me logged in{% endtrans %}</label>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						&nbsp;
						<button type="submit" class="btn btn-success">{% trans %}Sign in{% endtrans %}</button>
					</form>
					</li>				
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">{% trans %}New{% endtrans %}?</li>
					<li>
						<div class="navbar-form">
						<a href="{{ path('register') }}" class="btn btn-primary">{% trans %}Create account{% endtrans %}</a>
						</div>
					</li>
				  </ul>
				</li>
			{% endif %}
{% endblock %}

{% block body %}
	{{ parent()}}

    <div class="container">
		<br><br><br>
		<form>
			<h2 class="form-signin-heading">{% trans %}Message{% endtrans %}:</h2>
			<textarea id="message" cols="30" rows="10" class="form-control " placeholder="{% trans %}Message{% endtrans %}..." required autofocus></textarea>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<br>
			<button class="btn btn-lg btn-primary pull-right" type="submit">{% trans %} Create post {% endtrans %}</button>
		</form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
{% endblock %}
