{% extends 'base.html.twig' %}

{% block title %}Guestbook - {% trans %}Create account{% endtrans %} {% endblock %}

{% block stylesheets %}
	{{ parent()}}

	<link href="{{ asset('bundles/app/css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block nav %}
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
		<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/{{limba}}">{% trans %} View posts {% endtrans %}</a></li>
			<li><a href="{{ path('create') }}">{% trans %}Create post{% endtrans %}</a></li>
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<div class="navbar-form navbar-right">
					<a class="btn btn-warning" href="/logout">{% trans %}Logout{% endtrans %} {{ app.user.username }}</a>
				</div>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="{% trans %}Search{% endtrans %}...">
					<button type="submit" class="btn btn-default">{% trans %}Search{% endtrans %}</button>
				</form>
			{% else %}
				<li class="active dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Log in{% endtrans %} <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li class="dropdown-header">{% trans %}Have an account{% endtrans %}?</li>
					<li>
					<form class="navbar-form" action="{{ path('login') }}" method="post">
						<div class="form-group">
							<input type="text" placeholder="{% trans %}E-mail address{% endtrans %}" class="form-control" name="_username" >
						</div>
						<div class="form-group">
							<input type="password" placeholder="{% trans %}Password{% endtrans %}" class="form-control" name="_password">
						</div>
						&nbsp;
						<div class="form-group">
							<input type="checkbox" id="remember_me" name="_remember_me" checked />
							<label for="remember_me">{% trans %}Keep me logged in{% endtrans %}</label>
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="hidden" name="_target_path" value="{{ app.request.getRequestUri() }}" />
						&nbsp;
						<button type="submit" class="btn btn-success">{% trans %}Sign in{% endtrans %}</button>
					</form>
					</li>				
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">{% trans %}New{% endtrans %}?</li>
					<li>
						<div class="navbar-form">
						<a href="{{ path('register') }}" class="btn btn-primary">{% trans %}Create account{% endtrans %}</a>
						</div>
					</li>
				  </ul>
				</li>
			{% endif %}
{% endblock %}

{% block body %}
	{{ parent()}}

    <div class="container">
		<br><br><br>
		<form class="form-signin">
			<h2 class="form-signin-heading">{% trans %}Sign in{% endtrans %}</h2>
			<input type="text" id="inputName" class="form-control" placeholder="{% trans %}Name{% endtrans %}" required autofocus>
			<input type="email" id="inputEmail" class="form-control" placeholder="{% trans %}E-mail address{% endtrans %}" required>
			<input type="password" id="inputPassword" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required>
			<input type="password" id="inputPassword2" class="form-control" placeholder="{% trans %}Verify password{% endtrans %}" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %} Create account {% endtrans %}</button>
		</form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
{% endblock %}
